---
import { getCollection } from "astro:content";

export interface Props {
  limit?: number;
}

const { limit } = Astro.props;

let projects = await getCollection("projects");

projects = projects.sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

if (limit) {
  projects = projects.slice(0, limit);
}
---

<section>
  <div class="wrapper">
    <h2>Projects</h2>
    <ul class="auto-grid">
      {
        projects.map((project) => (
          <li>
            <a
              href={`/projects/${project.id}`}
              aria-hidden="true"
              tabindex="-1"
            >
              <img
                src={project.data.img}
                alt={
                  project.data.img_alt ?? `Screenshot of ${project.data.title}`
                }
                width="362"
                height="265"
                loading="lazy"
              />
            </a>
            <div>
              <h3>
                <a href={`/projects/${project.id}`}>{project.data.title}</a>
              </h3>
              <p>{project.data.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  section {
    padding-block: var(--size-fluid-5);
  }

  .wrapper {
    display: grid;
    gap: var(--size-6);
  }

  h2 {
    font-size: var(--font-size-fluid-2);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    background-color: var(--surface-2);
    border: var(--border-size-1) solid var(--surface-3);
    border-radius: var(--radius-3);
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    border-bottom: var(--border-size-1) solid var(--surface-3);
    transition: scale 0.2s ease-in-out;

    &:hover,
    &:focus-visible {
      scale: 1.05;
    }
  }

  div:has(h3) {
    padding: var(--size-3);
    display: grid;
    gap: var(--size-2);
  }

  h3 {
    font-size: var(--font-size-3);
  }

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  @media (width>1200px) {
    ul {
      gap: var(--size-6);
    }
  }
</style>
