---
import { getCollection } from "astro:content";

export interface Props {
  limit?: number;
}

const { limit } = Astro.props;

let projects = await getCollection("projects");

projects = projects.sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

if (limit) {
  projects = projects.slice(0, limit);
}
---

<section class="section">
  <div class="wrapper flow">
    <h2 class="section-title">Projects I have built.</h2>
    <ul>
      {
        projects.map((project) => (
          <li>
            <a
              href={`/projects/${project.id}`}
              aria-hidden="true"
              tabindex="-1"
            >
              <img
                src={project.data.img}
                alt={
                  project.data.img_alt ?? `Screenshot of ${project.data.title}`
                }
                width="362"
                height="265"
              />
            </a>
            <div class="card-content">
              <h3 class="font-size-500">
                <a href={`/projects/${project.id}`}>{project.data.title}</a>
              </h3>
              <p>{project.data.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  section {
    container-type: inline-size;
  }

  .wrapper {
    --_flow-space: 2.25rem;
  }

  ul {
    --_min-column-size: 20rem;

    list-style: none;
    padding: 0;
    margin-block-end: 0;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--_min-column-size), 100%), 1fr)
    );
  }

  li {
    background-color: var(--clr-surface-2);
    border: 1px solid var(--clr-surface-3);
    border-radius: 8px;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    transition: scale 0.2s ease-in-out;

    &:hover,
    &:focus-visible {
      scale: 1.05;
    }
  }

  .card-content {
    padding: 1rem;
    display: grid;
    gap: 0.75rem;
  }

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  @container (min-width: 640px) {
    ul {
      gap: 1.5rem;
    }
  }
</style>
